* {
    border: 2px solid red;
}

p {
    font-size: 18px;
    color: black;
}

#navButtons {
    text-align: right;
    background-color: green;
}

.topNav {
    display: inline-block;
    padding: 20px;
    border: 10px rgb(10, 61, 231);
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#topTitle {
    text-align: center;
}

.headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}
